.titulo-contacto
	font-family: lora
	color: white
.parrafo
	font-family: 'lora', serif
	color: white
	text-align: center
//todas las etiquetas p tendran esta fuente 
p
	font-family: 'lora', serif
	color: white
	text-align: center
//iconos de la paina de contacto estos son diferentes a los que estan en _index.sass
.rede-sociales
	list-style: none
	font-family: 'lora', serif
	li
		display: inline-block
		margin: 10px
		color: white
		a
			color: white
			font-size: 25px
			//line-height: 2
			&:hover
				text-decoration: none
				color: white
//padding de cada caja en la pagina de contacto
.caja
	padding: 5px
.titulo-contacto-formulario
	font-family: lora
	font-size: 25px
	color: white			