body, html {
  height: 100%; }

.hero-image {
  background-image: url("../img/tela.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; }

.hero-as {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 337px;
  height: 337px;
  left: 50%;
  top: 50%;
  margin-left: -168px;
  margin-top: -168px;
  opacity: 0.7; }

.social-links {
  position: fixed;
  left: 50%;
  bottom: 50px;
  margin-left: -180px;
  padding: 0;
  list-style-type: none; }

.social-links > li {
  display: inline-block; }

.social-links {
  display: block; }
  .social-links a {
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 20px;
    -webkit-transition: all 0.1s ease-in;
    opacity: 0.8;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none; }

.icon1:hover {
  color: #3b5998; }

.icon2:hover {
  color: #e4405f; }

.icon3:hover {
  color: #1da1f2; }

.icon4:hover {
  opacity: 0.1;
  color: #fff; }

.icon5:hover {
  color: #0077b5; }

.Copyright {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 1px; }

.activo {
  opacity: 0.5; }

@font-face {
  font-family: freight-big-pro;
  src: url("fonts/freight-big-pro.otf"); }
@font-face {
  font-family: Lora;
  src: url("fonts/LORA.ttf"); }
@font-face {
  font-family: amarillo;
  src: url("fonts/Amarillo.ttf"); }
.nav-logo {
  font-family: amarillo; }

.nav-menu {
  font-family: lora;
  font-size: 20px; }

.web-developer {
  color: white;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 2;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.26em;
  font-weight: 300;
  font-style: italic;
  font-family: "freight-big-pro";
  margin-bottom: 0;
  margin-top: 28px;
  text-transform: uppercase; }

.design-graphic {
  color: white;
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font-family: lora;
  font-size: 13px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase; }

.hero-image-sobre-mi {
  background-image: url("../img/tela.jpg");
  height: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.img-sobre-mi {
  opacity: 0.9;
  width: 80%; }

.nombre {
  text-align: center;
  font-family: amarillo;
  font-size: 20px; }

.text-sobre-mi {
  color: white;
  font-family: lora;
  font-size: 17px;
  text-align: justify; }

.titulos {
  color: white;
  font-family: lora;
  font-size: 25px; }

.hero-image-contacto {
  background-image: url("../img/tela.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.titulo-contacto {
  font-family: lora;
  color: white; }

.parrafo {
  font-family: "lora", serif;
  color: white;
  text-align: center; }

p {
  font-family: "lora", serif;
  color: white; }

.rede-sociales {
  list-style: none;
  font-family: "lora", serif; }
  .rede-sociales li {
    display: inline-block;
    margin: 10px;
    color: white; }
    .rede-sociales li a {
      color: white;
      font-size: 25px; }
      .rede-sociales li a:hover {
        text-decoration: none;
        color: white; }

.caja {
  padding: 5px; }

.titulo-contacto-formulario {
  font-family: lora;
  font-size: 25px;
  color: white; }

@media (max-width: 575px) {
  .navbar-brand {
    font-size: 1.25rem;
    position: relative; }

  /*estilos del index */
  .web-developer {
    font-size: 16.5px;
    font-family: "freight-big-pro"; }

  .design-graphic {
    font-size: 12px;
    font-family: "lora"; }

  .hero-as {
    width: 307px;
    height: 307px;
    left: 50%;
    top: 50%;
    margin-left: -155px; }

  .social-links {
    margin-left: -135px; }
    .social-links a {
      margin: 15px; }

  .Copyright {
    font-size: 12px; }

  body, html {
    height: 100%; }

  .hero-image {
    background-image: url("../img/tela.jpg");
    height: 100%;
    opacity: 0.9; }

  /*estilos de proyectos */
  .hero-image-proyecto {
    background-image: url("../img/tela.jpg");
    height: 200%; }

  /*estilos de sobre mi */
  .hero-image-sobre-mi {
    background-image: url("../img/tela.jpg");
    height: 250%; }

  .img-sobre-mi {
    opacity: 1;
    width: 100%; }

  .nombre {
    text-align: center;
    letter-spacing: 0.1em;
    color: blue;
    font-family: amarillo;
    font-size: 10px; }

  /*estilos de contacto */
  .hero-image-contacto {
    background-image: url("../img/tela.jpg");
    height: 200%; }

  .rede-sociales li {
    margin: 6.5px; }
    .rede-sociales li a {
      font-size: 20px; } }
.hero-image-proyecto {
  background-image: url("../img/tela.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.center {
  text-align: center; }

.logos {
  width: 200px;
  height: auto; }

.caja-img {
  padding: 1px;
  margin: 10px;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
